---
---

<section class="contact" id="contact">
  <div class="wrapper">
    <div class="box">
      <div class="left">
        <img
          src="/img/contact-img.svg"
          alt="#"
          class="animate__animated animate__zoomIn"
        />
      </div>
      <form class="right" action="javascript:void()" id="contact-form">
        <h2>Get In Touch</h2>
        <input
          type="text"
          name="to_name"
          hidden
          value="phos"
          minlength="4"
          maxlength="4"
        />
        <input
          type="text"
          name="from_name"
          class="name"
          placeholder="Your Name"
          minlength="1"
        />
        <input
          type="email"
          name="email"
          class="email"
          placeholder="Email Address"
        />
        <textarea
          name="message"
          cols="30"
          rows="10"
          placeholder="Message"
          minlength="1"></textarea>
        <button class="submit" type="submit">
          <span>Send</span>
        </button>
      </form>
    </div>
  </div>
</section>

<script>
  import emailjs from "@emailjs/browser";

  document
    .querySelector(".contact form#contact-form button.submit")
    ?.addEventListener("click", (e) => {
      e.stopPropagation();

      const btn = e.currentTarget as HTMLButtonElement;

      const span = btn.querySelector("span") as HTMLSpanElement;

      console.log(span);

      if (span.textContent !== "Send") {
        return;
      }

      span.textContent = "Sending...";

      emailjs
        .sendForm(
          "service_0kc5f2t",
          "template_1194z87",
          "#contact-form",
          "nQl-uusHnK35PQngS"
        )
        .then((res) => {
          span.textContent = "Sent";
          setTimeout(() => {
            span.textContent = "Send";
          }, 2000);
        })
        .catch((e) => {
          span.textContent = "Failed";
          setTimeout(() => {
            span.textContent = "Send";
          }, 2000);
        });
    });
</script>

<style>
  .contact {
    background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
    padding: 60px 0;
  }

  @media (min-width: 576px) {
    .wrapper {
      max-width: 540px;
    }
  }

  @media (min-width: 768px) {
    .wrapper {
      max-width: 720px;
    }

    .right {
      grid-template-columns: repeat(2, 1fr) !important;
    }

    .right h2 {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .right textarea {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  @media (min-width: 992px) {
    .wrapper {
      max-width: 960px;
    }
    .left {
      flex: 1;
    }
  }
  @media (min-width: 1200px) {
    .wrapper {
      max-width: 1140px;
    }
  }
  @media (min-width: 1400px) {
    .wrapper {
      max-width: 1320px;
    }
  }

  .wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }

  .box {
    display: flex;
    flex-wrap: wrap;
  }

  .left {
    width: 100%;
    padding: 0 12px;
  }

  .left img {
    width: 90%;
  }

  .right {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 12px;
    column-gap: 12px;
    grid-auto-rows: min-content;
  }

  .right h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  .right input {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    color: #fff;
    margin: 0 0 8px 0;
    padding: 18px 26px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.8px;
    transition: 0.3s ease-in-out;
    outline: none;
    font-family: inherit;
  }

  .right textarea {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    color: #fff;
    margin: 0 0 8px 0;
    padding: 18px 26px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.8px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    resize: vertical;
    outline: none;
    font-family: inherit;
  }

  .right input::placeholder,
  .right textarea::placeholder {
    color: #fff;
    font-weight: normal;
    font-size: 16px;
  }

  .right input:focus,
  .right textarea:focus {
    background-color: rgba(255, 255, 255, 1);
    color: #121212;
  }

  .right input:focus::placeholder,
  .right textarea:focus::placeholder {
    color: #121212;
  }

  .right .submit {
    width: fit-content;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: 700;
    color: #000;
    background-color: #fff;
    padding: 14px 48px;
    font-size: 18px;
    margin-top: 25px;
    border-radius: 0;
    position: relative;
    transition: 0.3s ease-in-out;
  }

  .right .submit:hover {
    color: #fff;
  }

  .right .submit::before {
    content: "";
    background: #121212;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.3s ease-in-out;
  }

  .right .submit:hover::before {
    width: 100%;
  }

  .right .submit span {
    z-index: 1;
    position: relative;
  }
</style>
