---
import CircleIcon from "../../components/circle-icon/CircleIcon.astro";
---

<footer class="footer">
  <div class="container">
    <div class="box">
      <div class="logo-container">
        <img src="/img/logo.svg" alt="" />
      </div>
      <div class="social">
        <div class="social-icons">
          <CircleIcon icon="/img/nav-icon1.svg" href="/" />
          <CircleIcon icon="/img/nav-icon2.svg" href="/" class="ml-6" />
          <CircleIcon icon="/img/nav-icon3.svg" href="/" class="ml-6" />
        </div>
        <p class="copyright">Copyright 2023. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>

<style>
  .footer {
    padding: 0 0 50px 0;
    background-image: url("/img/footer-bg.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }

    .logo-container {
      flex: 1;
    }

    .social-icons {
      justify-content: flex-end !important;
      margin-top: 0 !important;
    }
  }

  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  @media (min-width: 1400px) {
    .container {
      max-width: 1320px;
    }
  }

  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  .box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 40px;
  }

  .box .logo-container {
    width: 100%;
  }

  .logo-container img {
    max-width: 80%;
  }

  .social-icons {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
  }

  .social-icons .ml-6 {
    margin-left: 6px;
  }

  .copyright {
    margin-top: 20px;
    font-size: 14px;
    color: #b8b8b8;
    letter-spacing: 0.5px;
  }
</style>
