---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta name="viewport" content="width=device-width" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: Centra;
    src: url("/font/CentraNo2-Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: Centra;
    src: url("/font/CentraNo2-Medium.ttf");
    font-weight: 500;
  }
  @font-face {
    font-family: Centra;
    src: url("/font/CentraNo2-Book.ttf");
    font-weight: 400;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
  }
  body {
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    background-color: #121212;
    color: #fff;
    font-family: 'Centra', sans-serif !important;
  }
  a {
    text-decoration: none;
  }
</style>
